<?php
declare(strict_types=1);

/**
 * @var View $this
 * @var Category[] $categories
 * @var bool $canEditCategories
 */

use Src\Core\View;
use Src\Models\Category;

?>

<style>
    .category h2 {
        display: inline-block;
        margin: 0 4px 0 0;
    }

    .category header {
        padding: 2px 10px;
        background: antiquewhite;
    }
</style>

<strong>Welcome, <?= $this->auth->getUser()?->username ?? 'Guest' ?>!</strong>

<h1>Forum</h1>

<?php if ($canEditCategories) : ?>
    <a href="/categories/create">Add a category</a>
<?php endif; ?>

<?php foreach ($categories as $category) : ?>
    <hr>
    <section class="category">
        <header>
            <h2><?= $category->name ?></h2>

            <?php if ($canEditCategories) : ?>
                <a href="/categories/update?id=<?= $category->id ?>">Edit</a>
            <?php endif; ?>
        </header>
    </section>
<?php endforeach; ?>
