hr {
    display: block;
    margin: 20px 0;
}

.pagination {
    text-align: center;
    margin: 10px;
}

.pagination a {
    display: inline-block;
    padding: 4px 8px;
}

.category h2 {
    display: inline-block;
    margin: 0 4px 0 0;
}

.category header {
    padding: 2px 10px;
    background: burlywood;
}

.category .boards {
    width: 100%;
    border-collapse: collapse;
}

.category .boards tr:nth-child(even) {
    background: beige;
}

.category .boards tr:nth-child(odd) {
    background: antiquewhite;
}

.category .boards td {
    padding: 4px 10px;
    border: 1px solid gray;
}

.boards h3 {
    display: inline-block;
    margin: 0;
    font-size: 18px;
}

.board {
    width: 100%;
    border-collapse: collapse;
}

.board-header {
    padding: 2px 10px;
    background: burlywood;
}

.board th,
.board td {
    padding: 2px 10px;
    border: 1px solid gray;
}

.message {
    width: 100%;
    margin-bottom: 10px;

    background: antiquewhite;
    border-collapse: collapse;
}

.message:last-child {
    margin-bottom: 0;
}

.message th,
.message td {
    padding: 10px;
    border: 1px solid gray;
    vertical-align: top;
}

.message__info-bar {
    text-align: right;
}

.message__author {
    width: 170px;
}

.message__avatar img {
    max-width: 170px;
    max-height: 170px;
}
