<?php
declare(strict_types=1);

/**
 * @var \Src\Models\Thread $thread
 * @var bool $canEditThread
 */
?>

<nav class="breadcrumbs">
    <a href="/">Home</a>

    <?php if ($thread->board_id) : ?>
        > <a href="/boards?slug=<?= $thread->getBoard()->slug ?>"><?= htmlentities($thread->getBoard()->name) ?></a>
    <?php else : ?>
        <a>Unknown category</a>
    <?php endif; ?>

    > <a><?= htmlentities($thread->name) ?></a>
</nav>

<hr>

<h1><?= htmlentities($thread->name) ?></h1>

<?php if ($canEditThread) : ?>
    <p><a href="/threads/update?id=<?= $thread->id ?>">Edit</a></p>
<?php endif; ?>

<p>
    <small>Status: <?= $thread->status ?></small><br>
    <small>Created: <?= $thread->created_at->format('m/d/Y H:m:s') ?></small><br>
    <small>Last Update: <?= $thread->updated_at->format('m/d/Y H:m:s') ?></small><br>
</p>
