<?php
declare(strict_types=1);

use Src\Core\Pagination;
use Src\Core\View;
use Src\Models\Message;
use Src\Models\Thread;

/**
 * @var Thread $thread
 * @var Message[] $messages
 * @var Pagination $pagination
 * @var bool $canEditThread
 * @var bool $canReply
 * @var View $this
 */
?>

<nav class="breadcrumbs">
    <a href="/">Home</a>

    <?php if ($thread->board_id) : ?>
        > <a href="/boards?slug=<?= $thread->getBoard()->slug ?>"><?= htmlentities($thread->getBoard()->name) ?></a>
    <?php else : ?>
        <a>Unknown category</a>
    <?php endif; ?>

    > <a><?= htmlentities($thread->name) ?></a>
</nav>

<hr>

<h1><?= htmlentities($thread->name) ?></h1>

<?php if ($canEditThread) : ?>
    <a href="/threads/update?id=<?= $thread->id ?>">Edit</a>
<?php endif; ?>

<?php if ($canReply) : ?>
    <a href="/messages/create?thread_id=<?= $thread->id ?>">Reply</a>
<?php endif; ?>

<p>
    <small>Status: <?= $thread->status ?></small><br>
    <small>Created: <?= $thread->created_at->format('m/d/Y H:i:s') ?></small><br>
    <small>Last Update: <?= $thread->updated_at->format('m/d/Y H:i:s') ?></small><br>
</p>

<?php foreach ($messages as $message) : ?>
    <table class="message">
        <tr>
            <td></td>
            <td class="message__info-bar">
                <?php if ($this->auth->canEditMessage($message)) : ?>
                    <a href="/messages/update?id=<?= $message->id ?>">Edit</a>
                <?php endif; ?>
                <small>
                    Posted at
                    <time datetime="<?= $message->created_at->format('c') ?>">
                        <?= $message->created_at->format('m/d/Y H:i:s') ?>
                    </time>
                </small>
            </td>
        </tr>
        <tr>
            <td class="message__author">
                <p>
                    <?php if ($message->getAuthor()?->is_banned) : ?>
                        <span style="text-decoration:line-through;">
                            <?= htmlentities($message->getAuthor()->username) ?>
                        </span>
                    <?php else : ?>
                        <strong><?= htmlentities($message->getAuthor()->username) ?></strong>
                    <?php endif; ?>
                </p>

                <?php if ( $message->getAuthor()->avatar_path ) : ?>
                    <p class="message__avatar">
                        <img src="<?= $message->getAuthor()->getAvatarUrl() ?>"
                             alt="Avatar <?= htmlentities($message->getAuthor()->username, ENT_QUOTES) ?>">
                    </p>
                <?php endif; ?>

                <p>
                    <small><?= mb_convert_case($message->getAuthor()->role, MB_CASE_TITLE) ?></small>
                </p>
                <p>
                    <small>
                        Registered:
                        <time datetime="<?= $message->getAuthor()->created_at->format('c') ?>">
                            <?= $message->getAuthor()->created_at->format('m/d/Y') ?>
                        </time>
                    </small>
                </p>
            </td>
            <td class="message__body">
                <p><?= htmlentities(nl2br($message->content)) ?></p>
            </td>
        </tr>
    </table>
<?php endforeach; ?>

<?= $pagination->buildHtml() ?>
