<?php
declare(strict_types=1);

use Src\Core\Validation\ErrorsBag;

/**
 * @var \Src\Models\Thread $thread
 * @var bool $canPinThreads
 * @var ErrorsBag $errorsBag
 * @var ?string $appMessage
 * @var string $csrfField
 */
?>

<nav class="breadcrumbs">
    <a href="/">Home</a>
    > <a href="/boards?slug=<?= $thread->getBoard()->slug ?>"><?= htmlentities($thread->getBoard()->name) ?> Board</a>
    > <a>Update the thread</a>
</nav>

<hr>

<h1>Update the thread</h1>

<?php if (isset($appMessage)) : ?>
    <hr>
    <p><?= $appMessage ?></p>
    <hr>
<?php endif; ?>

<form action="/threads/update?id=<?= $thread->id ?>" method="post">
    <?= $csrfField ?>
    <p>
        <label>
            Name
            <input type="text" name="name" value="<?= htmlentities($thread->name ?? '', ENT_QUOTES) ?>">
            <?php if ($errorsBag->has('name')) : ?>
                <br>
                <small><?= $errorsBag->firstMessage('name') ?></small>
            <?php endif; ?>
        </label>
    </p>

    <?php if ($thread->isOpen()) : ?>
        <p>
            <label>
                <input type="checkbox" name="is_closed">
                Close
            </label>
        </p>
    <?php endif; ?>

    <?php if ($canPinThreads) : ?>
        <p>
            <label>
                <input type="checkbox" name="is_pinned" <?= $thread->is_pinned ? 'checked' : null ?>>
                Pin
            </label>
        </p>
    <?php endif; ?>

    <p>
        <button type="submit">Save</button>
    </p>
</form>
