<?php
declare(strict_types=1);

use Src\Core\Validation\ErrorsBag;

/**
 * @var ErrorsBag $errorsBag
 * @var ?string $message
 */
?>
<h1>Create new category</h1>

<?php if (isset($message)) : ?>
    <hr>
    <p><?= $message ?></p>
    <hr>
<?php endif; ?>

<form action="/categories/create" method="post">
    <p>
        <label>
            Name
            <input type="text" name="name">
            <?php if ($errorsBag->has('name')) : ?>
                <br>
                <small><?= $errorsBag->firstMessage('name') ?></small>
            <?php endif; ?>
        </label>
    </p>
    <p>
        <button type="submit">Create</button>
    </p>
</form>
