<?php
declare(strict_types=1);

use Src\Core\Validation\ErrorsBag;
use Src\Models\Category;

/**
 * @var ErrorsBag $errorsBag
 * @var ?string $appMessage
 * @var Category $category
 * @var string $csrfField
 */
?>

<nav class="breadcrumbs">
    <a href="/">Home</a>
    > <a>Update the category</a>
</nav>

<hr>

<h1>Edit category</h1>

<?php if (isset($appMessage)) : ?>
    <hr>
    <p><?= $appMessage ?></p>
    <hr>
<?php endif; ?>

<form action="/categories/update?id=<?= $category->id ?>" method="post">
    <?= $csrfField ?>
    <p>
        <label>
            Name
            <input type="text" name="name" value="<?= htmlentities($category->name ?? '', ENT_QUOTES) ?>">
            <?php if ($errorsBag->has('name')) : ?>
                <br>
                <small><?= $errorsBag->firstMessage('name') ?></small>
            <?php endif; ?>
        </label>
    </p>
    <p>
        <button type="submit">Save</button>
    </p>
</form>
